body {
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(32, 32, 32);
}

#canvas-container {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* hide scrollbars */
    /* also try "overflow: clip" */
    overflow: hidden;
}

.glass-pane {
    max-height: 100vh;
    margin: 0px 0px 0px 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    color: #eeeeee;
    font-family: Droid Sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.glass-pane a:link {
    color: green;
}

.glass-pane a:visited {
    color: red;
}

.text-box {
    position: absolute;
    /* Center the text box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: thin solid rgba(255, 255, 255, 0.6);
}

.hidden {
    display: none;
}

#control-panel {
    position: absolute;
    /* Position the control panel in the upper-left corner */
    left: 0px;
    top: 0px;
}

#button-span button svg {
    width: 2.5em;
    height: 1.875em;
}

/* The image inside the svg button must be the size of the svg button */
#button-span button svg image {
    width: 2.5em;
    height: 1.875em;
}

@media screen and (orientation:landscape) {
    #button-span button {
        display: block;
        /* display buttons vertically */
    }

    #button-span button svg {
        width: 1.875em;
        height: 2.55em;
    }

    /* The image inside the svg button must be the size of the svg button */
    #button-span button svg image {
        width: 1.875em;
        height: 2.5em;
    }
}

@media screen and (orientation:portrait) {
    /* TBD */
}